<div class="pattern navigatable-content" id="{{ pattern.id }}">

    {% if pattern.documentation.config %}
        <p>Frontmatter: (meta)</p>
        {% include "@lab/content/_frontmatter.html.twig" with {frontmatter: pattern.documentation.config} %}
    {% endif %}

    {% if pattern.documentation.html %}
        <button class="codetoggle">DOCS</button>
        <pre class="documentation">
          {{ directory.documentation.html | raw }}
        </pre>
    {% endif %}

    {% if pattern.otherVariants %}
        <p>Hauptvariante:</p>
    {% endif %}

    {% include "@lab/content/_variant.html.twig" with {variant: pattern.mainVariant} %}

    {% if pattern.otherVariants %}
        <p>andere Varianten:</p>

        {% for variant in pattern.otherVariants %}

            <h3>{{ pattern.name }}--{{ variant.name }}</h3>

            {% include "@lab/content/_variant.html.twig" %}

        {% endfor %}
    {% endif %}

</div>