{% if document.children %}
    <ul class="ck-navigation">
        {% for child in document.children %}
            {% if child.type in ['directory', 'twigfile', 'pattern', 'variant'] %}
                <li class="ck-navigation__item">
                    {% if child.type == 'twigfile' %}
                        <a href="#{{ child.id }}">
                            {{ child.name }}
                        </a>
                    {% else %}
                        {{ child.name }}
                    {% endif %}
                    {% include "@lab/_navigation.html.twig" with {document: child} %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}