<html>
    <title>Chefkoch Display Pattern Lab</title>
    <head>
        <link rel="stylesheet" type="text/css" href="./lab/lab.css" />
        <meta charset="utf-8" />
    </head>
    <body>
        <nav class="ck-nav-bar">
          {% include "@lab/navigation/_directory.html.twig" with {directory: tree} %}
          <ul  class="ck-labsizer">
            <li class="ck-labsizer__item"><button onclick="sizer('s')">S</button></li>
            <li class="ck-labsizer__item"><button onclick="sizer('m')">M</button></li>
            <li class="ck-labsizer__item"><button onclick="sizer('l')">L</button></li>
          </ul>
        </nav>
        {% include "@lab/content/_directory.html.twig" with {directory: tree} %}
        <script src="./lab/lab.js"></script>
    </body>
</html>