{% if not directory.isRootDirectory %}
    <a href="#{{ directory.id }}">{{ directory.name }}</a>
{% endif %}
<ul class="ck-navigation">
    {% for directory in directory.subDirectories %}
        <li class="ck-navigation__item">
            {% include "@lab/navigation/_directory.html.twig" %}
        </li>
    {% endfor %}
    {% if directory.patterns|length > 1 %}
        {% for pattern in directory.patterns %}
            {% if pattern.hasTemplate %}
                <li class="ck-navigation__item">
                    {% include "@lab/navigation/_pattern.html.twig" %}
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
